.typography {
	&--light {
		color: var(--font-color-light);
	}

	&--darkened {
		color: var(--font-color-darkened);
	}

	&--muted {
		color: var(--font-color-muted);
	}

	&-h1 {
		font-size: var(--font-size-xxl);
		font-weight: bold;
	}

	&-h2 {
		font-size: var(--font-size-xl);
		font-weight: bold;
	}

	&-h3, &-h4, &-h5, &-h6 {
		font-size: var(--font-size-l);
	}

	&-p {
		font-size: var(--font-size-m);
		line-height: 24px;
	}

	&-span {
		font-size: var(--font-size-s);
	}
}