.profile-card {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	gap: 16px;
	position: relative;

	&__image {
		background-color: #FFF5ED;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		object-fit: contain;
	}

	&__title {
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__description {
		flex: 1 1 0;
	}

	&__soc-networks {
		margin-top: 8px;

		display: flex;
		flex-direction: column;
		gap: 8px;

		position: absolute;
		top: 8px;
		left: 8px;
	}
}