.greeting {
	padding-top: 48px;

	&__body {
		position: relative;
	}

	&__info {
		margin: 0 auto;
		max-width: 800px;
		text-align: center;
	}

	&__subtitle {
		margin-top: 24px;
		margin-bottom: -24px;
	}

	&__bg {
		width: 100%;
		height: 585px;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__drone {
		width: 252px;
		height: 81px;
		position: absolute;
		transition: .3s;
	}
}