@import "src/shared/assets/styles/adaptive";

.greeting {
	position: relative;
	padding-top: 48px;

	&__info {
		margin: 0 auto;
		max-width: 800px;
		text-align: center;
	}

	&__subtitle {
		margin-top: 24px;
		margin-bottom: -24px;

		@include mediaTablet {
			margin-bottom: 16px;
		}
	}

	&__bg {
		width: 100%;
		aspect-ratio: 2 / 1;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__drone {
		width: clamp(135px, 19vw, 252px);
		aspect-ratio: 3.11 / 1;
		background-size: contain;
		background-repeat: no-repeat;

		position: absolute;
		transition: .3s;

		@include mediaTablet {
			display: none;
		}
	}
}