.nav-link {
	font-size: var(--font-size-m);
	color: var(--font-color-darkened);
	cursor: pointer;

	position: relative;
	transition: .3s;
	text-decoration: none;

	&:after {
		content: '';
		position: absolute;
		background-image: url('./underline.svg');
		left: 0;
		top: 100%;
		height: 6px;
		width: 100%;

		opacity: 0;
		transition: .1s;
	}

	&:hover {
		color: var(--font-color-hover);
	}

	&:hover:after {
		opacity: 1;
	}
}