.service-card {
	display: grid;
	gap: 8px 24px;
	grid-template-areas:
		'Img Title'
		'Img Descr';

	&__image {
		grid-area: Img;
		place-self: center;
	}

	&__title {
		grid-area: Title;
		font-weight: bold;
	}

	&__description {
		grid-area: Descr;
	}

	@media screen and (max-width: 1024px) {
		align-items: center;
		justify-content: center;
		grid-template-areas:
			'Img'
			'Title'
			'Descr';

		&__image {
		}

		&__title {
			text-align: center;
		}

		&__description {
			text-align: center;
		}
	}
}
