@import "src/shared/assets/styles/adaptive";

.about-screen {
	padding: 64px 0;

	@include mediaLaptop {
	}

	@include mediaNetbook {
		padding: 40px 0;
	}

	@include mediaPhone {
		padding: 32px 0;
	}
}