.service-conf {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__field {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__field-name {
		font-weight: 450;
	}

	&__contact {
		display: grid;
		gap: 8px 4px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"comment comment"
			"email send-btn"
		;
	}

	&__comment {
		grid-area: comment;
	}

	&__email {
		grid-area: email;
	}

	&__send-btn {
		grid-area: send-btn;
	}
}