.service-conf {
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__field {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__field-name {
		font-weight: 450;
	}

	&__field-email {
		display: flex;
		flex-wrap: wrap;
		gap: 8px 4px;

		> * {
			flex: 1 1 0;
		}
	}
}