$phone: 576px;
$tablet: 768px;
$netbook: 991px;
$laptop: 1200px;

@mixin mediaPhone {
	@media screen and (max-width: $phone) {
		@content;
	}
}

@mixin mediaTablet {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

@mixin mediaNetbook {
	@media screen and (max-width: $netbook) {
		@content;
	}
}

@mixin mediaLaptop {
	@media screen and (max-width: $laptop) {
		@content;
	}
}

.container {
	--max-width: 1140px;
	--x-indent: 20px;

	padding: 0 var(--x-indent);
	max-width: calc(var(--max-width) + var(--x-indent) * 2);
	margin: 0 auto;

	@include mediaLaptop {
		--x-indent: 10px;
	}

	@include mediaNetbook {
	}

	@include mediaTablet {
	}
}