:root {
	// font - size
	--font-size-xxl: 4rem;
	--font-size-xl: 3.4rem;
	--font-size-l: 2rem;
	--font-size-m: 1.8rem;
	--font-size-s: 1.4rem;

	// mobile font size
	--font-size-mobile-xxl: 3.2rem;
	--font-size-mobile-xl: 2.4rem;
	--font-size-mobile-l: 1.6rem;
	--font-size-mobile-m: 1.5rem;
	--font-size-mobile-s: 1.4rem;

	// fonts - color
	--font-color-light: #343D48;
	--font-color-darkened: #0F2137;
	--font-color-muted: #26323877;
	--font-color-hover: #0A8080;

	// button
	--btn-bg-main: #DB4A87;
	--btn-bg-disabled: #6e6e6e;
	--btn-text-color: #fff;
	--btn-text-size: 1.8rem;

	// backgrounds
	--bg-light: #fff;
	--bg-darkened: #F9FAFC;


	// shared
	--round-m: 1rem;

	--border-color: #01070D;
	--border-color-accent: #3183FF;
	--underline-color-active: #A17857;
}