.consumer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 32px;

		flex: 2 1 0;
		min-width: 280px;
	}

	&__cover {
		flex: 1 1 0;
		min-width: 280px;
		max-width: 350px;
		margin: 0 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 16px 32px;

		li {
			display: flex;
			align-items: stretch;
			gap: 8px;

			&:before {
				--size: 24px;

				content: '';
				display: block;
				flex: 0 0 var(--size);
				height: var(--size);
				background-image: url('./list-icon.svg');
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}
}