.button {
	background-color: var(--btn-bg-main);
	padding: 16px 32px;
	color: var(--btn-text-color);
	font-size: var(--btn-text-size);
	font-weight: bold;
	border: none;
	border-radius: var(--round-m);
	min-width: min-content;

	cursor: pointer;
	position: relative;
	overflow: hidden;

	&:disabled {
		background-color: var(--btn-bg-disabled);
		cursor: default;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background-color: rgba(255, 255, 255, .3);
		transition: all .3s ease;
	}

	&:not(:disabled):hover:before {
		width: 100%;
	}

	&--pending {
		color: transparent;

		&:after {
			content: '';
			border: 3px solid rgba(255, 255, 255, 0.3);
			border-top: 3px solid #fff;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -10px;
			margin-left: -10px;
			animation: spin 1s linear infinite;
			display: block;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}